# EDA Tools & Simulation
work/
myenv/
data/hex/
pre_rtl/
.claude/
transcript
*.wlf
*.vcd
*.asdb
*.jou
*.log
*.pb
*.mif
*.tcl
*.log
*.txt
*.backup
*.excalidraw
*.identifier
*.id


run -all

DEBUG_REPORT.md
LEVEL_SHIFT_FIX.md
Design_report.md
# Compiled objects
*.o
*.out

transcript
